

.descriptionArea{
    padding: 0 10%;
    margin-bottom: 2vh;
}
.descriptionText{
    font-size: var(--large-font-size);
    font-weight: 500;
    line-height: 125%;
    margin: 0;
}


.videosPanel{
    margin: 0 5%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.videoEntry{
    text-align: center;

    width: 65%;

    padding: 1vh 0;
    margin: 1.5vh 0;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.videoContainer{
    background-color: inherit;

    width: 26vw;
    height: calc(26vw * 9 / 16);
}

.videoTextPanel{
    width: calc(100% - 29vw);

    margin-left: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.videoTitle{
    font-size: var(--larger-font-size);

    background-color: inherit;

    margin-top: 1vh;
    margin-bottom: 2vh;
}
.videoSubtitle{
    font-size: var(--large-font-size);

    background-color: inherit;

    margin: 1vh 0;
}




@media (max-width: 1000px) {
    .descriptionArea{
        padding: 0 3%;
    }
    
    .videoEntry{
        text-align: center;
    
        width: 100%;
    
        padding: 1vh 0;
        margin: 1.5vh 0;
    
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    
    .videoContainer{
        background-color: inherit;
    
        width: 45vw;
        height: calc(45vw * 9 / 16);
    }
    
    .videoTextPanel{
        width: calc(100% - 45vw);
    }
    
    .videoTitle{
        margin-top: 0.5vh;
        margin-bottom: 1vh;
    }
    .videoSubtitle{
        font-size: var(--large-font-size);

        margin-top: 1.5vh;
        margin-bottom: 0.3vh;
    }    
}

@media (max-width: 575px) {
    .descriptionArea{
        padding: 0 3%;
    }
    
    .videoEntry{
        text-align: center;
    
        width: 100%;
    
        padding: 1vh 0;
        margin: 1.5vh 0;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    
    .videoContainer{
        background-color: inherit;
    
        width: 70vw;
        height: calc(70vw * 9 / 16);
    }
    
    .videoTextPanel{
        width: 100%;

        margin-top: 1vh;
    }
    
    .videoTitle{
        margin-bottom: 0.5vh;
    }
    .videoSubtitle{
        font-size: var(--medium-font-size);

        margin-top: 0.5vh;
        margin-bottom: 0.3vh;
    }    
}