

.buttonsContainer{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}



.themaButton-shell{
    text-align: center;
    color: black;

    width: 80%;
    height: 20vh;

    padding: 0;
    border: 2px solid;
    margin: 1vh 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;

    cursor: pointer;
}

.themaButton-img{
    width: 100%;

    opacity: 0.6;
}

.themaButton-text{
    background: none;

    text-align: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}