


#gottesdienste .anfahrt{
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#gottesdienste .address-map-shell{
    display: flex;
    flex-direction: row;
}

.maps{
    background-color: rgba(var(--layout-color-rgb), 0.2);

    width: 45vw;

    padding: 3vh 1.5vw;
    border-radius: 7px;
    border-width: 2px;
    border-color: var(--layout-color);
    border-style: solid;
}
.maps .map{
    width: 100%;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.maps .btn{
    width: max-content;
    margin: 0;
    margin-top: 1vh;
}

.address{
    font-size: var(--medium-font-size);

    padding-top: 2vh;
    margin-left: 2vw;
}
.address .paragraph{
    margin: 1vh 0;
}


.wegbeschreibung{
    font-size: var(--medium-font-size);

    margin: 1vh 2vw;
}
.wegbeschreibung .paragraph{
    margin: 2vh 0;
}


.zeitplan.godi-page{
    padding: 0 15%;
    margin-bottom: 6vh;
}