

#predigten .videos-panel{
    margin: 0 -1vw;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.videos-panel .entry{
    text-align: center;

    background-color: rgba(var(--layout-color-rgb), 0.2);

    width: 29%;

    padding: 1vh 0.5vw;
    padding-top: 3vh;
    border-width: 3px;
    border-radius: 7px;
    border-style: solid;
    border-color: var(--layout-color);
    margin: 0 0.5vw;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.entry .container{
    width: 24vw;
}

.entry .title{
    font-size: var(--large-font-size);

    margin: 2vh 1vw;
    margin-bottom: 1vh;
}
    
    
#predigten .liveLinksText{
    margin: 2vh 8%;
}

.liveLinksText .text{
    font-size: var(--medium-font-size);
    text-align: justify; 
}


#predigten .yt-channel{
    color: black;
    text-decoration: none;

    padding-left: 5vw;
    margin-top: 5vh;
}

.yt-channel p{
    font-size: 1.2vw;

    margin: 0;
}

.yt-channel img{
    height: 2vw;
    min-height: 20px;

    margin-left: 2vw;
    margin-top: 0.8vw;

    cursor: pointer;
}