:root{
    --bg: #e0e0e0;

    --title-bg-color: #eeda83;

    --content-width: 90vw;
    --content-bg: white;

    --content-margin-top: 4vh;
    --content-margin-bottom: 5vh;
    
    
    --medium-font-size: 1vw;
    --large-font-size: 1.2vw;
    --larger-font-size: 1.4vw;
}


*{
    font-family: 'Times New Roman', Times, serif;
}


body{
    margin: 0px;
    background-color: var(--footer-bg);
}

#root{
    position: relative;
    padding-bottom: var(--footer-height);
    background-color: var(--bg);
}




.navigAnim{
    animation: ctrl infinite;
    animation-duration: 500ms;
}

@keyframes ctrl {
    0% { --ctrl-bg: #ff0000; }
    4% { --ctrl-bg: #d82000; }
    8% { --ctrl-bg: #c04000; }
    12% { --ctrl-bg: #a86000; }
    16% { --ctrl-bg: #808000; }
    20% { --ctrl-bg: #60a800; }
    24% { --ctrl-bg: #40c000; }
    28% { --ctrl-bg: #20d800; }
    33% { --ctrl-bg: #00ff00; }
    37% { --ctrl-bg: #00d820; }
    41% { --ctrl-bg: #00c040; }
    45% { --ctrl-bg: #00a860; }
    49% { --ctrl-bg: #008080; }
    53% { --ctrl-bg: #0060a8; }
    57% { --ctrl-bg: #0040c0; }
    63% { --ctrl-bg: #0020d8; }
    66% { --ctrl-bg: #0000ff; }
    70% { --ctrl-bg: #2000d8; }
    74% { --ctrl-bg: #4000c0; }
    78% { --ctrl-bg: #6000a8; }
    82% { --ctrl-bg: #800080; }
    86% { --ctrl-bg: #a80060; }
    90% { --ctrl-bg: #c00040; }
    95% { --ctrl-bg: #d80020; }
    100% { --ctrl-bg: #ff0000; }
}
