:root{
    --nav-fg: black;
    --nav-bg-alpha: 1;

    --nav-bg-rgb: 235, 235, 235;
    --nav-bg: rgba(var(--nav-bg-rgb), var(--nav-bg-alpha));
    --nav-bg-click-hover: rgba(var(--nav-bg-rgb), 1);

    --nav-height: min(75px, 7vh);
    --nav-padding-x: 3vw;

    --nav-font-size: max(1vw, 15px);

    --navBtn-hovAnim-dur: 0.4s;
}


.navbar{
    background-color: var(--nav-bg);

    position: sticky;
    top: 0;
    height: var(--nav-height);

    padding: 0 var(--nav-padding-x);
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
    z-index: 10;
}

.navbar *{
    color: var(--nav-fg);
    background-color: rgba(0, 0, 0, 0);
}


.navbar .home-btn{
    height: 100%;
    overflow: visible;
}

.home-btn .btn-h{
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    
    padding: 6px;
    border: 0;
    border-radius: 3px;
}

.btn-h .image{
    height: 100%;

    cursor: pointer;
}


.navbar .line-nav{
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}



.page-loaded{
    font-weight: 700;
}



.navbar .btn-nav{
    height: 100%;
}

.btn-nav .btn-n{
    font-size: var(--nav-font-size);

    color: var(--nav-fg);
    text-align: center;

    height: 100%;
    padding-right: 0.7vw;
    padding-left: 0.7vw;
    border: 0;
}

.btn-n .text{
    margin: 0;
}


.btn-n .lang-box{
    padding: 3px;
    border: 2px solid black;
}



.navbar .dropdown{
    height: 100%;
    
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown .btn-d{
    width: 100%;
    height: 100%;
    border: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.btn-d:hover{
    background-color: var(--nav-bg-click-hover);
}


.btn-d .icon-d{
    height: calc(var(--nav-height) - 40%);

    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-d .img{
    height: 80%;
}

.dropdown-down-arrow{
    height: 9px;

    margin-right: 11px;
}


.btn-d .text-d{
    font-size: var(--nav-font-size);

    color: var(--nav-fg);
    text-align: center;

    width: 100%;
    height: 100%;

    padding-right: 0.7vw;
    padding-left: 0.7vw;
    border: 0;
    margin: 0;
    
    cursor: inherit;
}




.dropdown .menu-d{
    background-color: rgba(var(--nav-bg-rgb), 0.9);

    padding-top: 6px;

    width: max-content;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: var(--nav-height);
    transform: translateX(-50%);
    /*right: calc(var(--nav-padding-x) * -1);*/

    transition-duration: var(--navBtn-hovAnim-dur);
}
.menu-d[animation="0"] {
    animation: dropdown-menu-popup 0.5s forwards;
}
.menu-d[animation="1"] {
    animation: dropdown-menu-popup 0.5s backwards;
}
@keyframes dropdown-menu-popup {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



.dropdown-nested{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.menu-d .item-dm{
    text-align: left;
}
.item-dm .btn-dmi{
    font-size: var(--nav-font-size);
    white-space: break-spaces;

    color: var(--nav-fg);
    text-align: left;

    height: 100%;
    padding: 0.7vh 0.7vw;
    border: 0;
}



.btn-clickable{
    width: 100%;

    transition-duration: var(--navBtn-hovAnim-dur);
    cursor: pointer;
}
.btn-clickable:hover{
    background-color: var(--nav-bg-click-hover);
}



/*
@media (min-width: 2500px){
    *{
        --nav-font-size: x-large;
    }
}

@media (min-width: 3200px){
    *{
        --nav-font-size: xx-large;
    }
}

@media (max-width: 900px) {
    .home-btn-image{
        content: url("../../public/Icons/fbg-bremen_tabIcon.png");
    }
}

@media (max-width: 750px){
    *{
        --nav-font-size: medium;
    }

    .navbar-btn{
        height: 100%;
        padding-right: 0.7vw;
        padding-left: 0.7vw;
    }
}

@media (max-width: 575px) {
    *{
        --nav-font-size: larger;
    }

    .home-btn-image{
        content: url("../../public/Icons/fbg-bremen_icon-white-fg.png");
    }
    
    .dropdown-btn-shell{
        height: 100%;
        min-width: fit-content;
        width: 14vw;
        margin-right: -2vw;
        
        position: relative;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    
    .dropdown-menu{
        width: max-content;
    
        padding: 0;
    
        position: absolute;
        top: var(--nav-height);
        transform: translateX(calc(-100% + var(--nav-padding-x) + 5vw));
    }
    
    .dropdown-list-shell{
        padding-left: 3vw;
        padding-right: 1vw;
    }
    
    .dropdown-item{
        font-size: x-large;

        padding: 1.2vh 0;
        padding-left: 5vw;
        padding-right: 4vw;
    }
}

@media (hover: none) {
    .btn-clickable:hover{
        background-color: var(--nav-bg);
        transform: scale(1);
    }
}*/